.profile-blog{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
   .profile-sub1{
    margin-bottom: 40px;
    h2{
        text-align: center;
    }
   }
    
    .profile-sub2{
        display: flex ;
        justify-content: space-around;
        align-items: center;

        .profile-me p{
            width: 300px;
            text-align: start;
        }

        .profile-pics{
            width: 200px;
            height: 200px;
            // border: 1px #691f48 solid;
            border-radius: 50%;
            background-color: gray;
        }
    }
}
